<header class="header">
    <nav>
        <ul>
            <li>
                <h3>PetZ</h3>
            </li>
        </ul>
    </nav>

    <div class="header-content">
        <h4>Bem-Vindes</h4>
        <h1 class="logo">PetZ</h1>
        {{!-- <img src="img/showcase.jpg" alt="Imagem de um Pug Sorrindo" class="showcase"> --}}
        <button class="btn btn-cad">Cadastre um Pet</button>
    </div>
</header>

<section class="animais">
<div class="text-xl">Animais para Adoção</div>
<div class="subtext">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aperiam, accusamus repellendus officiis asperiores illo eligendi minus. Veritatis molestias laudantium aliquid enim eum odit nihil? Velit ex nesciunt unde iusto!
</div>

<div class="cards">
    <div class="card-1">
        <div class="cover-grad"></div>
        <div class="card-text">
            <div class="sub-tittle">Idade</div>
            <h3>Nome</h3>
        </div>
    </div>
    <div class="card-2">
        <div class="cover-grad"></div>
        <div class="card-text">
            <div class="sub-tittle">Idade</div>
            <h3>Nome</h3>
        </div>
    </div>
    <div class="card-3">
        <div class="cover-grad"></div>
        <div class="card-text">
            <div class="sub-tittle">Idade</div>
            <h3>Nome</h3>
        </div>
    </div>
    <div class="card-4">
        <div class="cover-grad"></div>
        <div class="card-text">
            <div class="sub-tittle">Idade</div>
            <h3>Nome</h3>
        </div>
    </div>
</div>
</section>