<header class="header">
    <nav>
        <ul>
            <li>
                <h3>PetZ</h3>
            </li>
        </ul>
    </nav>

    <div class="header-content">
        <h4>Bem-Vindes</h4>
        <h1>PetZ</h1>
        {{!-- <img src="img/showcase.jpg" alt="Imagem de um Pug Sorrindo" class="showcase"> --}}
        <button class="btn btn-cad">Cadastrar um Pet</button>
    </div>
</header>